@import "tailwindcss";

@theme {
  --color-primary: rgb(172 45 0);
  --color-surface-tint: rgb(176 47 0);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(215 59 0);
  --color-on-primary-container: rgb(255 251 255);
  --color-secondary: rgb(161 63 34);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(255 134 99);
  --color-on-secondary-container: rgb(116 31 4);
  --color-tertiary: rgb(116 91 0);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(203 167 58);
  --color-on-tertiary-container: rgb(79 61 0);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(147 0 10);
  --color-background: rgb(255 248 246);
  --color-on-background: rgb(40 24 19);
  --color-surface: rgb(255 248 246);
  --color-on-surface: rgb(40 24 19);
  --color-surface-variant: rgb(255 219 209);
  --color-on-surface-variant: rgb(92 64 57);
  --color-outline: rgb(144 112 103);
  --color-outline-variant: rgb(229 190 179);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(62 44 39);
  --color-inverse-on-surface: rgb(255 237 232);
  --color-inverse-primary: rgb(255 181 160);
  --color-primary-fixed: rgb(255 219 209);
  --color-on-primary-fixed: rgb(59 9 0);
  --color-primary-fixed-dim: rgb(255 181 160);
  --color-on-primary-fixed-variant: rgb(135 34 0);
  --color-secondary-fixed: rgb(255 219 209);
  --color-on-secondary-fixed: rgb(59 9 0);
  --color-secondary-fixed-dim: rgb(255 181 160);
  --color-on-secondary-fixed-variant: rgb(129 41 13);
  --color-tertiary-fixed: rgb(255 224 141);
  --color-on-tertiary-fixed: rgb(36 26 0);
  --color-tertiary-fixed-dim: rgb(233 194 83);
  --color-on-tertiary-fixed-variant: rgb(88 68 0);
  --color-surface-dim: rgb(242 212 204);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(255 241 237);
  --color-surface-container: rgb(255 233 228);
  --color-surface-container-high: rgb(255 226 218);
  --color-surface-container-highest: rgb(250 220 212);

  --animate-slide-in: 300ms ease-out 0s 1 slide-in;

  @keyframes slide-in {
    from {
      scale: 0
    }

    to {
      scale: 1
    }
  }
}

:root {
  --nav-shadow: 1px 0 8px gray;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  min-height: 100vh;
  min-height: 100dvh;
}

#root {
  min-height: 100vh;
  min-height: 100dvh;
}

/*
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
